.sellCustomer {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #formGetCustomerSell {
        margin-top: 1rem;
        height: auto;
        padding: 1rem;
        background-color: rgb(131, 155, 90);
        gap: 1rem;

        .watchTypeCliente select {
            height: 30px;
            border-radius: 6px;
        }

        .btnCustomer {
            height: 30px;
            border-radius: 6px;
            cursor: pointer;
            background-color: rgb(25, 87, 141);
            color: white;
            font-size: 1rem;
            transition: .3s;

            &:hover {
                background-color: rgb(13, 43, 70);
            }
        }
    }
}

.vewCustomerSelled {
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 2rem;

    div {
        display: flex;
        align-items: center;
        gap: 1rem;

        h3 span {
            font-weight: 300;
        }
    }

    button {
        height: auto;
        padding: 3px;
        border-radius: 6px;
        background-color: #fe9393;
        transition: .3s;
        cursor: pointer;

        &:hover {
            background-color: #f86f6f;
        }
    }
}

.containerProdSell {
    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    .divSellProd {
        width: 150px;
        padding: 6px;
        border-radius: 6px;
        border: solid 3px #416864;
        background-color: #6d8b89;
        box-shadow: 0 3px 8px;
        cursor: pointer;
        transition: .3s;

        &:active {
            box-shadow: none;
        }

        &:hover {
            background-color: #416864;
        }
    }
}

.sellForm {
    align-items: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    #formSellProduct {
        height: auto;
        padding: 6px;
        background-color: #416864;

        .fnp input {
            text-align: center;
        }

        .quantity {
            margin: 1rem 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            button {
                width: 60px;
                background-color: #fecc93;
                border-radius: 6px;
                transition: .3s;
                cursor: pointer;

                &:hover {
                    background-color: #f7ad5a;
                }
            }

            input {
                width: 60px;
                text-align: center;
            }
        }
    }
}

.btnVewCart {
    width: 200px;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #416864;
    border: #416864 solid 2px;
    border-radius: 6px;
    box-shadow: 6px 5px 15px;
    transition: .3s;
    cursor: pointer;
    &:active {
        box-shadow: none;
    }
    &:hover {
        background-color: #6d8b89;
    }
}

.divCartPreVew {
    margin-top: 2rem;
    width: 100%;
    .cartOne {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        input {
            padding: 6px;
            text-align: center;
            border-radius: 6px;
            border: 1px solid cadetblue;
        }
        .inputQuan {
            width: 30px;
        }
        .inputProd {
            width: 130px;
        }
        .inputPric {
            width: 60px;
        }
        p {
            font-weight: 600;
        }
    }
}

.divResult {
    margin-top: 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    span {
        width: 300px;
        border-top: solid 2px black;
        display: block;
    }

    .cartTwo {
        margin-top: 1rem;
        button {
            width: 40px;
            height: 40px;
            margin: 0 1rem;
            border-radius: 6px;
            cursor: pointer; 
        }
        .min {
            color: red;
            background-color: rgba(255, 0, 0, 0.418);
            transition: .3s;
            &:hover {
                background-color: rgba(255, 0, 0, 0.24);
            }
        }
        .max {
            color: green;
            background-color: rgba(0, 128, 0, 0.411);
            transition: .3s;
            &:hover {
                background-color: rgba(0, 128, 0, 0.123);
            }
        }
        input {
            width: 40px;
            padding: 6px;
            text-align: center;
            border-radius: 6px;
            border: 1px solid cadetblue;
            height: 40px;
        }
    }
}

.divBtnVewCart {
    margin-bottom: 1rem;
    button {
        padding: 6px;
        border-radius: 6px;
        margin: 6px 2rem;
        width: 120px;
        font-size: 1rem;
        transition: .3s;
        cursor: pointer;
        box-shadow: 6px 5px 15px;
    } 
    .cash {
        border: rgb(15, 65, 15) solid 2px;
        background-color: rgba(15, 65, 15, 0.404);
        &:hover {
            background-color: rgb(15, 65, 15);
        }
        &:active {
            box-shadow: none;
        }
    }
    .credit {
        border: #960018 solid 2px;
        background-color: #cb4c46;
        &:hover {
            background-color: #960018;
        }
        &:active {
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 426px) {
    .containerProdSell {
        gap: 6px;

        .divSellProd {
            padding: 1px;
            width: 75px;
            height: 135px;

            p {
                font-size: 14px;
            }
        }
    }
}