*, *::before, *::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Pangolin", cursive;
}

body {
  background-color: #EAEBEF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcf3cc;
}
body h1 {
  margin: 2rem;
}
body img {
  width: 50%;
  position: relative;
}
body .spinner {
  position: absolute;
  bottom: 50px;
  width: 70px;
  text-align: center;
}
body .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
body .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
body .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 426px) {
  body img {
    width: 100%;
  }
}
nav {
  width: 100%;
  height: 120px;
  background-color: #c8ad8d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
nav img {
  max-width: 120px;
  height: auto;
  object-fit: contain;
  transition: 0.3s;
  padding: 3px;
  cursor: pointer;
}
nav img:hover {
  transform: scale(1.15);
}
nav .navRight {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .navRight #inicialSesion {
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}
nav .navRight #inicialSesion a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
nav .navRight #inicialSesion::after {
  content: "";
  display: block;
  background-color: gray;
  width: 90%;
  height: 3px;
  margin-top: 1px;
  clip-path: var(--clippy);
  transition: 0.5s;
}
nav .navRight #inicialSesion:hover {
  --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
  color: gray;
}
nav .navRight #inicialSesion:hover a {
  color: gray;
}
nav .navRight #closeSession {
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
  flex-direction: column;
}
nav .navRight #closeSession::after {
  content: "";
  display: block;
  background-color: gray;
  width: 90%;
  height: 3px;
  margin-top: 1px;
  clip-path: var(--clippy);
  transition: 0.5s;
}
nav .navRight #closeSession:hover {
  --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
  color: gray;
}
nav .navRight .cartContainerImg {
  width: 55px;
  height: 55px;
  position: relative;
}
nav .navRight .cartContainerImg #imgCart {
  width: 55px;
  height: 100%;
  background-image: url("https://res.cloudinary.com/do1chpjor/image/upload/v1692131441/asset/zlcsmdydc65cnpwj80wk.png");
  background-size: 48px;
  background-repeat: no-repeat;
  object-fit: contain;
  transition: 0.3s;
  cursor: pointer;
}
nav .navRight .cartContainerImg #imgCart:hover {
  background-image: url("https://res.cloudinary.com/do1chpjor/image/upload/v1692131448/asset/vyjaum8dsj01zytexpzq.png");
}
nav .navRight .cartContainerImg #contImgCart {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  border: solid 1px gray;
  padding: 0 0 1px 3px;
  font-size: 1.2rem;
  top: 5px;
  right: 12px;
}

@media screen and (max-width: 426px) {
  nav {
    padding: 0;
  }
  nav .navRight {
    width: 30%;
    width: 140px;
  }
}
.headerBPage {
  width: 100%;
}
.headerBPage .headerBasePage {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/do1chpjor/image/upload/v1692132119/photos/k0tj7yovspxrpnomdnzw.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0 5px 10px;
}
.headerBPage .headerBasePage h1 {
  color: wheat;
  font-size: 3rem;
  margin-right: 2rem;
  text-align: center;
}
.headerBPage .headerBasePage p {
  color: wheat;
  margin-right: 2rem;
}

@media screen and (max-width: 426px) {
  .headerBPage .headerBasePage {
    align-items: center;
  }
  .headerBPage .headerBasePage h1 {
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 6px;
    font-size: 2rem;
  }
  .headerBPage .headerBasePage p {
    margin-right: 0;
  }
}
#current {
  margin-top: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#current p {
  margin-right: 1rem;
}
#current button {
  display: none;
  margin-left: 1rem;
  font-size: 1.2rem;
  padding: 6px;
  border-radius: 6px;
  border: solid #759eff 2px;
  background-color: rgba(117, 158, 255, 0.4784313725);
  transition: 0.3s;
}
#current button:hover {
  background-color: #759eff;
}
#current button a {
  text-decoration: none;
  color: #375aaa;
}

@media screen and (max-width: 426px) {
  #current {
    font-size: 1.2rem;
  }
  #current p {
    margin-right: 6px;
  }
  #current button {
    margin-left: 6px;
    font-size: 1rem;
    padding: 2px;
  }
}
.mainBasePage {
  width: 100%;
  margin: 2rem 0;
}
.mainBasePage h2 {
  text-align: center;
  font-size: 2rem;
}
.mainBasePage #productsVew {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.mainBasePage #productsVew .showPrBasePag {
  width: 250px;
  height: auto;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #c8ad8d;
  box-shadow: 1px 3px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainBasePage #productsVew .showPrBasePag .name {
  font-size: 1.4rem;
  font-weight: 600;
}
.mainBasePage #productsVew .showPrBasePag div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mainBasePage #productsVew .showPrBasePag div img {
  width: 100%;
  margin: 6px 0;
}
.mainBasePage #productsVew .showPrBasePag div button {
  width: 60%;
  padding: 6px;
  margin-top: 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  background-color: #d8f8e1;
  transition: 0.3s;
}
.mainBasePage #productsVew .showPrBasePag div button:hover {
  background-color: #b0f2c2;
}
.mainBasePage #productsVew .showPrBasePag div p span {
  font-weight: 600;
}

h1 {
  text-align: center;
}

#formLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 180px;
  padding: 6px;
  border: 2px solid black;
  border-radius: 6px;
}
#formLogin div {
  display: flex;
  flex-direction: column;
}
#formLogin div input {
  padding: 4px;
  height: 30px;
  border-radius: 6px;
  border: solid #006414 1px;
}
#formLogin div input::placeholder {
  color: green;
}
#formLogin .radial {
  flex-direction: row;
  justify-content: space-around;
}
#formLogin .btnRegister {
  height: 30px;
  border-radius: 6px;
  border: solid #006414 2px;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
}
#formLogin .btnRegister:hover {
  background-color: #006414;
}

.mainLogin {
  margin-top: 1.1rem;
  text-align: center;
}
.mainLogin p {
  font-size: 1.2rem;
}
.mainLogin button {
  margin-top: 1rem;
  margin-left: 6px;
  height: 30px;
  border-radius: 6px;
  border: #003785 solid 1px;
  padding: 3px;
  transition: 0.3s;
}
.mainLogin button:hover {
  background-color: #497bc0;
}
.mainLogin button a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

.recPass {
  text-align: center;
  margin-top: 2rem;
}
.recPass #recPass {
  height: auto;
  padding: 8px;
  gap: 6px;
}
.recPass #recPass input {
  padding: 4px;
  height: 30px;
  border-radius: 6px;
  border: #003785 solid 1px;
}
.recPass #recPass input::placeholder {
  color: #497bc0;
}
.recPass #recPass .btnRecPass {
  height: 30px;
  border-radius: 6px;
  border: #003785 solid 1px;
  padding: 3px;
  transition: 0.3s;
}
.recPass #recPass .btnRecPass:hover {
  background-color: #497bc0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 350px;
  padding: 6px;
  border: 2px solid black;
  border-radius: 6px;
}
form div {
  display: flex;
  flex-direction: column;
}
form div input {
  padding: 4px;
  height: 30px;
  border-radius: 6px;
  border: solid #006414 1px;
}
form div input::placeholder {
  color: red;
}
form .radial {
  flex-direction: row;
  justify-content: space-around;
}
form .btnRegister {
  height: 30px;
  border-radius: 6px;
  border: solid #006414 2px;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
}
form .btnRegister:hover {
  background-color: #006414;
}

.modalRegister {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.7411764706);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}
.modalRegister .modal_container {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: white;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: transform 0.3s;
  transition: var(--transition);
}
.modalRegister .modal_container h3 {
  font-size: 2.5rem;
  text-align: center;
}
.modalRegister .modal_container img {
  width: 64px;
}
.modalRegister .modal_container .spinnerRegister {
  position: absolute;
  bottom: 10px;
  width: 70px;
  text-align: center;
}
.modalRegister .modal_container .spinnerRegister > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.modalRegister .modal_container .spinnerRegister .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.modalRegister .modal_container .spinnerRegister .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

@media screen and (max-width: 800px) {
  .modal_container {
    padding: 2em 1.5em;
  }
  .modal_title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 426px) {
  body img {
    width: 100%;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleRecPass {
  text-align: center;
}

#formRecPass {
  height: auto;
  gap: 6px;
}
#formRecPass input {
  padding: 4px;
  height: 30px;
  border-radius: 6px;
  border: #003785 solid 1px;
}
#formRecPass input::placeholder {
  color: #497bc0;
}
#formRecPass .btnRecPass {
  margin-top: 6px;
  font-size: 1.2rem;
  height: auto;
  border-radius: 6px;
  border: #003785 solid 1px;
  background-color: #315280;
  padding: 6px 0;
  transition: 0.3s;
}
#formRecPass .btnRecPass:hover {
  background-color: #497bc0;
}

footer {
  width: 100%;
  min-height: 150px;
  background-color: #c8ad8d;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .up {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
footer .up .footRight {
  width: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .up .footRight a svg {
  transition: 0.3s;
}
footer .up .footRight a svg:hover {
  transform: scale(1.15);
}
footer .dev {
  margin: 2rem 0 1rem 0;
  text-align: center;
}

@media screen and (max-width: 426px) {
  footer .up {
    flex-direction: column;
  }
  footer .up div {
    text-align: center;
  }
  footer .up .footRight {
    margin-top: 2rem;
  }
  footer .dev {
    font-size: 0.8rem;
  }
}
.consola {
  width: 100%;
}
.consola .consolaSect {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 6px;
  background-color: #9dc09d;
  padding: 1rem;
  box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.75);
}
.consola .consolaSect div {
  width: 100px;
  height: 100px;
  border: 2px #3f8880 solid;
  background-color: rgba(63, 136, 127, 0.2);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.consola .consolaSect div img {
  width: 50px;
  height: 50px;
}
.consola .consolaSect div:hover {
  background-color: #3f8880;
}
.consola .consolaSect div:active {
  box-shadow: none;
}

@media screen and (max-width: 426px) {
  .consola .consolaSect {
    gap: 6px;
  }
  .consola .consolaSect div {
    width: 65px;
    height: 80px;
  }
  .consola .consolaSect div img {
    width: 40px;
    height: auto;
  }
  .consola .consolaSect div h3 {
    font-size: 0.9rem;
  }
}
.ConsolaContainer {
  width: 100%;
  min-height: 50vh;
  text-align: center;
}
.ConsolaContainer #consoleMain {
  width: 100%;
}
.ConsolaContainer #consoleMain .productMain {
  width: 100%;
  margin-top: 1rem;
}
.ConsolaContainer #consoleMain .productMain h4 {
  font-size: 2rem;
}
.ConsolaContainer #consoleMain .productMain .productRadial {
  display: flex;
  justify-content: space-around;
}
.ConsolaContainer #consoleBody {
  width: 100%;
  margin: 1rem 0 4rem 0;
}
.ConsolaContainer #consoleBody .divProductos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ConsolaContainer #consoleBody .divProductos h2 {
  margin-bottom: 1rem;
}
.ConsolaContainer #consoleBody .divProductos #formNewProduct {
  width: 300px;
  height: auto;
  padding: 1rem;
  gap: 1rem;
}
.ConsolaContainer #consoleBody .divProductos #formNewProduct .fnp {
  display: flex;
  align-items: flex-start;
}
.ConsolaContainer #consoleBody .divProductos #formNewProduct .fnp input {
  width: 100%;
}
.ConsolaContainer #consoleBody .vewProducts {
  width: 100%;
  padding: 1rem 0.5rem;
}
.ConsolaContainer #consoleBody .vewProducts .vewProducts_vew {
  width: 100%;
  min-height: 100px;
  background-color: #6aa3b4;
  border: 2px solid black;
  border-radius: 6px;
  padding: 1rem;
}
.ConsolaContainer #consoleBody .vewProducts .vewProducts_vew .name {
  font-weight: 600;
}
.ConsolaContainer #consoleBody .vewProducts .vewProducts_vew div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.ConsolaContainer #consoleBody .vewProducts .vewProducts_vew div img {
  width: 70px;
}
.ConsolaContainer #consoleBody .vewProducts .vewProducts_vew div span {
  font-weight: 600;
}
.ConsolaContainer #consoleBody .vewProducts .vewProducts_vew div #stock {
  background-color: wheat;
  width: 95px;
  border-radius: 6px;
  padding: 0.4rem;
}
.ConsolaContainer #consoleBody .vewProducts .vewProducts_vew div #stock span {
  margin-right: 0.4rem;
}
.ConsolaContainer #consoleBody .vewProducts .vewProducts_vew div .asset {
  color: whitesmoke;
  border-radius: 6px;
  padding: 0.4rem;
  cursor: pointer;
}
.ConsolaContainer #consoleBody .vewProducts .vewProducts_vew div .asset span {
  margin-right: 0.4rem;
}
.ConsolaContainer #consoleBody .divSearchProduc {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ConsolaContainer #consoleBody .divSearchProduc #searchProduct {
  height: auto;
}
.ConsolaContainer #consoleBody .divSearchProduc #searchProduct div {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.ConsolaContainer #consoleBody .divSearchProduc #searchProduct div input {
  width: 100%;
  margin-bottom: 0.6rem;
}
.ConsolaContainer #consoleBody .divProductosUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ConsolaContainer #consoleBody .divProductosUpdate h2 {
  margin: 1rem 0;
}
.ConsolaContainer #consoleBody .divProductosUpdate form {
  text-align: left;
  height: auto;
  background-color: #6aa3b4;
}
.ConsolaContainer #consoleBody .divProductosUpdate form div label {
  font-weight: 600;
  margin-top: 0.6rem;
}
.ConsolaContainer #consoleBody .divProductosUpdate form .uploader {
  margin-top: 1rem;
}

.divClientes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.divClientes #formNewCustomer {
  background-color: #ffda9e;
}
.divClientes #formNewCustomer .fnRadial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.divClientes #formNewCustomer .fnRadial div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}

.searchCustomer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.searchCustomer #formGetCustomer {
  margin-top: 1rem;
  height: auto;
  padding: 6px;
  background-color: #ffda9e;
  display: flex;
  align-items: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.searchCustomer #formGetCustomer div {
  width: 100%;
  text-align: left;
}
.searchCustomer #formGetCustomer .watchTypeCliente select {
  height: 30px;
  border-radius: 6px;
}
.searchCustomer #formGetCustomer .watchfromCliente select {
  height: 30px;
  border-radius: 6px;
}
.searchCustomer #formGetCustomer .btnCustomer {
  width: 100%;
  height: 30px;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.searchCustomer #formGetCustomer .btnCustomer:hover {
  background-color: rgb(163, 69, 69);
}

.tableHead {
  width: 100%;
}
.tableHead thead {
  width: 100%;
}
.tableHead thead tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ffda9e;
}
.tableHead thead tr th {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableCustomer {
  width: 100%;
}
.tableCustomer tbody {
  width: 100%;
}
.tableCustomer tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.tableCustomer tbody tr th {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchCustomer {
  height: auto;
  gap: 1rem;
}

#formUpdateCustomer {
  background-color: #ffda9e;
}
#formUpdateCustomer .fnRadial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#formUpdateCustomer .fnRadial div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}

@media screen and (max-width: 426px) {
  .tableHead thead tr th {
    font-size: 12px;
    width: auto;
  }
  .tableCustomer tbody tr {
    justify-content: space-between;
  }
  .tableCustomer tbody tr th {
    font-size: 6px;
  }
}
.vewCash {
  width: 100%;
}
.vewCash .cashVewShow {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 1rem;
}
.vewCash .cashVewShow div {
  border: 3px solid #b87420;
  border-radius: 6px;
  background-color: #c8ad8d;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.vewCash .cashVewShow div label {
  font-weight: 600;
}
.vewCash .cashVewShow div input {
  height: 30px;
  border-radius: 6px;
  border: #b87420 1px solid;
  text-align: center;
  box-shadow: 1px 2px 8px;
}

.sellCustomer {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sellCustomer #formGetCustomerSell {
  margin-top: 1rem;
  height: auto;
  padding: 1rem;
  background-color: rgb(131, 155, 90);
  gap: 1rem;
}
.sellCustomer #formGetCustomerSell .watchTypeCliente select {
  height: 30px;
  border-radius: 6px;
}
.sellCustomer #formGetCustomerSell .btnCustomer {
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(25, 87, 141);
  color: white;
  font-size: 1rem;
  transition: 0.3s;
}
.sellCustomer #formGetCustomerSell .btnCustomer:hover {
  background-color: rgb(13, 43, 70);
}

.vewCustomerSelled {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.vewCustomerSelled div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.vewCustomerSelled div h3 span {
  font-weight: 300;
}
.vewCustomerSelled button {
  height: auto;
  padding: 3px;
  border-radius: 6px;
  background-color: #fe9393;
  transition: 0.3s;
  cursor: pointer;
}
.vewCustomerSelled button:hover {
  background-color: #f86f6f;
}

.containerProdSell {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.containerProdSell .divSellProd {
  width: 150px;
  padding: 6px;
  border-radius: 6px;
  border: solid 3px #416864;
  background-color: #6d8b89;
  box-shadow: 0 3px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.containerProdSell .divSellProd:active {
  box-shadow: none;
}
.containerProdSell .divSellProd:hover {
  background-color: #416864;
}

.sellForm {
  align-items: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.sellForm #formSellProduct {
  height: auto;
  padding: 6px;
  background-color: #416864;
}
.sellForm #formSellProduct .fnp input {
  text-align: center;
}
.sellForm #formSellProduct .quantity {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sellForm #formSellProduct .quantity button {
  width: 60px;
  background-color: #fecc93;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}
.sellForm #formSellProduct .quantity button:hover {
  background-color: #f7ad5a;
}
.sellForm #formSellProduct .quantity input {
  width: 60px;
  text-align: center;
}

.btnVewCart {
  width: 200px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #416864;
  border: #416864 solid 2px;
  border-radius: 6px;
  box-shadow: 6px 5px 15px;
  transition: 0.3s;
  cursor: pointer;
}
.btnVewCart:active {
  box-shadow: none;
}
.btnVewCart:hover {
  background-color: #6d8b89;
}

.divCartPreVew {
  margin-top: 2rem;
  width: 100%;
}
.divCartPreVew .cartOne {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.divCartPreVew .cartOne input {
  padding: 6px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid cadetblue;
}
.divCartPreVew .cartOne .inputQuan {
  width: 30px;
}
.divCartPreVew .cartOne .inputProd {
  width: 130px;
}
.divCartPreVew .cartOne .inputPric {
  width: 60px;
}
.divCartPreVew .cartOne p {
  font-weight: 600;
}

.divResult {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.divResult span {
  width: 300px;
  border-top: solid 2px black;
  display: block;
}
.divResult .cartTwo {
  margin-top: 1rem;
}
.divResult .cartTwo button {
  width: 40px;
  height: 40px;
  margin: 0 1rem;
  border-radius: 6px;
  cursor: pointer;
}
.divResult .cartTwo .min {
  color: red;
  background-color: rgba(255, 0, 0, 0.418);
  transition: 0.3s;
}
.divResult .cartTwo .min:hover {
  background-color: rgba(255, 0, 0, 0.24);
}
.divResult .cartTwo .max {
  color: green;
  background-color: rgba(0, 128, 0, 0.411);
  transition: 0.3s;
}
.divResult .cartTwo .max:hover {
  background-color: rgba(0, 128, 0, 0.123);
}
.divResult .cartTwo input {
  width: 40px;
  padding: 6px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid cadetblue;
  height: 40px;
}

.divBtnVewCart {
  margin-bottom: 1rem;
}
.divBtnVewCart button {
  padding: 6px;
  border-radius: 6px;
  margin: 6px 2rem;
  width: 120px;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 6px 5px 15px;
}
.divBtnVewCart .cash {
  border: rgb(15, 65, 15) solid 2px;
  background-color: rgba(15, 65, 15, 0.404);
}
.divBtnVewCart .cash:hover {
  background-color: rgb(15, 65, 15);
}
.divBtnVewCart .cash:active {
  box-shadow: none;
}
.divBtnVewCart .credit {
  border: #960018 solid 2px;
  background-color: #cb4c46;
}
.divBtnVewCart .credit:hover {
  background-color: #960018;
}
.divBtnVewCart .credit:active {
  box-shadow: none;
}

@media screen and (max-width: 426px) {
  .containerProdSell {
    gap: 6px;
  }
  .containerProdSell .divSellProd {
    padding: 1px;
    width: 75px;
    height: 135px;
  }
  .containerProdSell .divSellProd p {
    font-size: 14px;
  }
}
.inventary {
  width: 100%;
  margin-top: 1rem;
}
.inventary h4 {
  font-size: 2rem;
}
.inventary .inventaryRadial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 1rem;
}

.divProduct-Inv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem 0;
  margin-top: 1rem;
}
.divProduct-Inv h4 {
  font-size: 1.4rem;
}
.divProduct-Inv .formProduct-inv {
  height: auto;
  padding: 1rem;
  gap: 1rem;
  background-color: rgba(16, 153, 187, 0.5411764706);
}
.divProduct-Inv .formProduct-inv #product_inv {
  border-radius: 6px;
  height: 30px;
  border: solid 1px #1099bb;
}
.divProduct-Inv .formProduct-inv .btnProduct-inv {
  border-radius: 6px;
  border: solid 1px #1099bb;
  height: 30px;
  cursor: pointer;
  box-shadow: 1px 2px 8px;
  transition: 0.3s;
  font-weight: 600;
}
.divProduct-Inv .formProduct-inv .btnProduct-inv:active {
  box-shadow: none;
}
.divProduct-Inv .formProduct-inv .btnProduct-inv:hover {
  background-color: #1099bb;
}
.divProduct-Inv .formProduct-inv .quantity-inv {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 1rem;
}
.divProduct-Inv .formProduct-inv .quantity-inv input {
  border: solid 1px #1099bb;
  width: 60px;
}

.divFather {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.divFather .vewInventary {
  margin-top: 1rem;
  border: solid #1099bb;
  border-radius: 6px;
  width: 200px;
}
.divFather .vewInventary h3 {
  background-color: #1099bb;
  padding: 6px;
}
.divFather .vewInventary .divPro {
  background-color: rgba(127, 255, 212, 0.466);
  padding: 6px;
  display: flex;
  justify-content: space-evenly;
}
.divFather .vewInventary .divPro li {
  list-style: none;
}

.divContent {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.divContent .divDocs {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.divContent .divDocs h4 {
  text-align: left;
}
.divContent .divDocs .divTicket {
  border: solid 2px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #8fabb3;
}
.divContent .divDocs .divTicket .operacion {
  border-radius: 3px 3px 0 0;
  background-color: #1099bb;
  padding: 6px 0;
}
.divContent .divDocs .divTicket p span {
  font-weight: 600;
}
.divContent .divDocs .divTicket .prodQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
}
.divContent .divDocs .divTicket .prodQuantity .qauntity {
  font-weight: 600;
}

.modifyShow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modifyShow h4 {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.modifyShow .formModifyInv {
  margin-top: 1rem;
  height: auto;
  gap: 1rem;
  background-color: #1099bb;
}
.modifyShow .formModifyInv select {
  height: 30px;
  border-radius: 6px;
}
.modifyShow .formModifyInv .divInventory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modifyShow .formModifyInv .divInventory label {
  margin-right: 1rem;
  font-size: 1.2rem;
}
.modifyShow .formModifyInv .divInventory input {
  width: 60px;
}
.modifyShow .formModifyInv .btnProduct-inv {
  height: 30px;
  border-radius: 6px;
  border: solid 1px;
  box-shadow: 1px 1px 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #85d4e7;
}
.modifyShow .formModifyInv .btnProduct-inv:hover {
  background-color: #78abb8;
}
.modifyShow .formModifyInv .btnProduct-inv:active {
  box-shadow: none;
}

.showModifyInv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.showModifyInv .formModifyOk {
  background-color: #1099bb;
  height: auto;
  padding: 6px;
}
.showModifyInv .formModifyOk .divPro {
  margin: 2px 0;
}
.showModifyInv .formModifyOk .divPro .fnc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.showModifyInv .formModifyOk .divPro .fnc label {
  width: 70%;
}
.showModifyInv .formModifyOk .divPro .fnc input {
  width: 30%;
  text-align: center;
}
.showModifyInv .formModifyOk .btnProduct-inv {
  height: 30px;
  border-radius: 6px;
  border: solid 1px;
  box-shadow: 1px 1px 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #85d4e7;
  margin-top: 6px;
}
.showModifyInv .formModifyOk .btnProduct-inv:hover {
  background-color: #78abb8;
}
.showModifyInv .formModifyOk .btnProduct-inv:active {
  box-shadow: none;
}

@media screen and (max-width: 426px) {
  .divFather {
    flex-direction: column;
  }
  .divContent .divDocs .divTicket .prodQuantity {
    gap: 0;
  }
}
.addBottle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addBottle h4 {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.addBottle .formBottle {
  height: auto;
  background-color: #1099bb;
  padding: 6px;
  gap: 6px;
}
.addBottle .formBottle select {
  height: 30px;
  border-radius: 6px;
  border: 1px #0b414e solid;
}
.addBottle .formBottle .bottleQunatiyty {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.addBottle .formBottle .bottleQunatiyty input {
  width: 60px;
}
.addBottle .formBottle .bottleQunatiyty label {
  margin-right: 2rem;
}
.addBottle .formBottle .radialBottle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #4c8694;
  border-radius: 6px;
  width: 100%;
}
.addBottle .formBottle .radialBottle .rad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.addBottle .formBottle .btnBottle {
  height: 30px;
  text-align: center;
  font-weight: 600;
  border-radius: 6px;
  border: 1px #0b414e solid;
  cursor: pointer;
  transition: 0.3s;
}
.addBottle .formBottle .btnBottle:hover {
  background-color: #4c8694;
}
.addBottle .formBottle .btnBottle:active {
  border: none;
}

.divContBottle {
  display: flex;
  justify-content: space-around;
  gap: 1rem 0;
  flex-wrap: wrap;
}
.divContBottle .divBottle {
  width: 280px;
  height: fit-content;
  border: #0b414e solid 2px;
  border-radius: 6px;
  background-color: #1099bb;
}
.divContBottle .divBottle .divPro {
  background-color: #4c8694;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
.divContBottle .divBottle .divPro p:first-child {
  font-weight: 600;
}
.divContBottle .divBottle .divCre {
  background-color: #4c8694;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
.divContBottle .divBottle .divCre p:first-child {
  font-weight: 600;
  color: rgb(107, 10, 10);
}

.divBottleFind {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.divBottleFind #formBottleFind {
  height: auto;
  gap: 1rem;
  background-color: #0b414e;
  padding: 6px;
}
.divBottleFind #formBottleFind select {
  border-radius: 6px;
  height: 30px;
}
.divBottleFind #formBottleFind input {
  background-color: #1099bb;
  height: 30px;
  border: #0b414e solid 2px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 1px 1px 1px;
}
.divBottleFind #formBottleFind input:hover {
  background-color: #4c8694;
}
.divBottleFind #formBottleFind input:active {
  box-shadow: none;
}

.divModifyBottle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divModifyBottle .formModifyBottle {
  background-color: #0b414e;
  color: aliceblue;
  height: auto;
}
.divModifyBottle .formModifyBottle .prodBottle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
.divModifyBottle .formModifyBottle .prodBottle input {
  width: 60px;
  text-align: center;
}
.divModifyBottle .formModifyBottle .credito {
  color: rgb(214, 100, 100);
}
.divModifyBottle .formModifyBottle .credBottle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
.divModifyBottle .formModifyBottle .credBottle input {
  width: 60px;
  background-color: rgb(214, 100, 100);
  border: black;
  text-align: center;
}
.divModifyBottle .formModifyBottle .buttonModifyButton {
  background-color: #1099bb;
  height: 30px;
  border: #0b414e solid 2px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 1px 1px 1px;
}
.divModifyBottle .formModifyBottle .buttonModifyButton:hover {
  background-color: #4c8694;
}
.divModifyBottle .formModifyBottle .buttonModifyButton:active {
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
