$colorA: #fcf3cc;
$colorB: #d1cb1f;

// Assets.
$logoPotter: 'https://res.cloudinary.com/do1chpjor/image/upload/v1692127154/img/nia1kkju4xm8vnmkxuuj.png';
$blackCart: 'https://res.cloudinary.com/do1chpjor/image/upload/v1692131441/asset/zlcsmdydc65cnpwj80wk.png';
$grayCart: 'https://res.cloudinary.com/do1chpjor/image/upload/v1692131448/asset/vyjaum8dsj01zytexpzq.png';

// Photos.
$headerBasePage: 'https://res.cloudinary.com/do1chpjor/image/upload/v1692132119/photos/k0tj7yovspxrpnomdnzw.png';